@font-face {
  font-family: "van-icon"; /* Project id 3860737 */
  src: url('iconfont.woff2?t=1673794896557') format('woff2'),
       url('iconfont.woff?t=1673794896557') format('woff'),
       url('iconfont.ttf?t=1673794896557') format('truetype');
}

.van-icon {
  font-family: "van-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.van-icon-user:before {
  content: "\e666";
}

.van-icon-eye:before {
  content: "\e78f";
}

.van-icon-eye-close:before {
  content: "\e8ff";
}

.van-icon-mima:before {
  content: "\e8b2";
}

.van-icon-quanbu:before {
  content: "\e61e";
}

.van-icon-seach:before {
  content: "\e61f";
}

.van-icon-share:before {
  content: "\e620";
}

.van-icon-shang:before {
  content: "\e621";
}

.van-icon-right:before {
  content: "\e622";
}

.van-icon-Down:before {
  content: "\e623";
}

.van-icon-up:before {
  content: "\e624";
}

.van-icon-left:before {
  content: "\e625";
}

.van-icon-zhankai:before {
  content: "\e626";
}

.van-icon-saoma:before {
  content: "\e627";
}

.van-icon-yuedu:before {
  content: "\e628";
}

.van-icon-xiaoxi-1:before {
  content: "\e629";
}

.van-icon-bianji:before {
  content: "\e62a";
}

.van-icon-a-3d:before {
  content: "\e62b";
}

.van-icon-guanbi2:before {
  content: "\e62c";
}

.van-icon-cu:before {
  content: "\e62d";
}

.van-icon-jian:before {
  content: "\e62e";
}

.van-icon-canyin:before {
  content: "\e62f";
}

.van-icon-erweima:before {
  content: "\e630";
}

.van-icon-shanchu:before {
  content: "\e631";
}

.van-icon-pinglun:before {
  content: "\e632";
}

.van-icon-dianti:before {
  content: "\e633";
}

.van-icon-zhanlan:before {
  content: "\e634";
}

.van-icon-add:before {
  content: "\e635";
}

.van-icon-all:before {
  content: "\e636";
}

.van-icon-zhanpin:before {
  content: "\e637";
}

.van-icon-wenchuang:before {
  content: "\e638";
}

.van-icon-zhiti:before {
  content: "\e639";
}

.van-icon-qiantai:before {
  content: "\e63a";
}

.van-icon-baoguo:before {
  content: "\e63b";
}

.van-icon-cangpin:before {
  content: "\e63c";
}

.van-icon-chongzhi:before {
  content: "\e63d";
}

.van-icon-chakan:before {
  content: "\e63e";
}

.van-icon-coupon:before {
  content: "\e63f";
}

.van-icon-copy:before {
  content: "\e640";
}

.van-icon-customer-1:before {
  content: "\e641";
}

.van-icon-customer:before {
  content: "\e642";
}

.van-icon-date:before {
  content: "\e643";
}

.van-icon-cart:before {
  content: "\e644";
}

.van-icon-emoji:before {
  content: "\e645";
}

.van-icon-download:before {
  content: "\e646";
}

.van-icon-goui:before {
  content: "\e647";
}

.van-icon-goods:before {
  content: "\e648";
}

.van-icon-guanbitu:before {
  content: "\e649";
}

.van-icon-jy:before {
  content: "\e64a";
}

.van-icon-jyjl:before {
  content: "\e64b";
}

.van-icon-keyboard:before {
  content: "\e64c";
}

.van-icon-live:before {
  content: "\e64d";
}

.van-icon-khgx:before {
  content: "\e64e";
}

.van-icon-a-menuclose:before {
  content: "\e64f";
}

.van-icon-menu:before {
  content: "\e650";
}

.van-icon-lianxiren:before {
  content: "\e651";
}

.van-icon-mob:before {
  content: "\e652";
}

.van-icon-more:before {
  content: "\e653";
}

.van-icon-paperwork:before {
  content: "\e654";
}

.van-icon-plus:before {
  content: "\e655";
}

.van-icon-ship:before {
  content: "\e656";
}

.van-icon-shop:before {
  content: "\e657";
}

.van-icon-seller:before {
  content: "\e658";
}

.van-icon-shou:before {
  content: "\e659";
}

.van-icon-tuozhan:before {
  content: "\e65a";
}

.van-icon-verified:before {
  content: "\e65b";
}

.van-icon-wenti:before {
  content: "\e65c";
}

.van-icon-time:before {
  content: "\e65d";
}

.van-icon-xiao:before {
  content: "\e65e";
}

.van-icon-yaoqing:before {
  content: "\e65f";
}

.van-icon-zan:before {
  content: "\e660";
}

.van-icon-zhuaban:before {
  content: "\e661";
}

.van-icon-ziti:before {
  content: "\e662";
}

.van-icon-yinshui:before {
  content: "\e663";
}

.van-icon-zhan2:before {
  content: "\e664";
}

.van-icon-tgdp-copy:before {
  content: "\e665";
}

